<%- include("head.partial.ejs") %>

<main>
  <h1>Książka Kucharska</h1>
  <p>Dodaj przepis do odpowiedniej kategorii</p>
  <p><a href="/recipes">Przepisy</a></p>
    <p><a href="/favorites">Ulubione</a></p>
</main>

<%- include("foot.partial.ejs") %>